/* Reseting all of the default attr */


:root{
    --bg-main:#050505;
    --bg-section:#0D0D0D;
    --bg-card:#141414;

    --border:#2E2E2E;

    --primary:#F58A07;
    --primary-hover:#FF9F1C;

    --text-heading:#F2F2F2;
    --text-body:#D4D4D4;
    --text-muted:#8F8F8F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg-main);
    color: var(--text-body);
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--bg-section);
    border-bottom: 1px solid var(--border);
}

nav h1 {
    color: var(--text-heading);
    font-size: 1.75rem;
    font-weight: 700;
}
nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: var(--text-muted);
    padding: 0.7rem 1.2rem;
    border-radius: 0.75rem;
    background: var(--bg-card);
    transition: 0.3s;
}

nav a:hover {
    background: var(--primary);
    color: white;
}


.hero {
    text-align: center;
    padding: 6rem 1rem;
}

.hero h2 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--text-heading);
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
    color: var(--text-muted);
    max-width: 600px;
    margin: 0 auto;
}


.comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
}

.university-box {
    width: 350px;
    background: var(--bg-card);
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 2rem;

}

.university-box h3 {
    color: var(--text-heading);
    margin-bottom: 1rem;
}


select {
    width: 100%;
    padding: 1rem;
    background: var(--bg-section);
    border: 1px solid var(--border);
    border-radius: 0.75rem;
    color: var(--text-body);
}
.vs-box {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
}





@media (max-width: 768px) {

    .comparison {
        flex-direction: column;
    }

}

.results {
    padding: 2rem;
    background-color: var(--bg-main);

   
}
#resultsBox {
    min-height: 200px;

    border: 2px dashed #999;

    background: var(--bg-main);

    padding: 1rem;
}

button {
    background: var(--bg-card);
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    
}
button:hover{
    background-color: orange;
    transition: 0.5s;
}

#resultsBox {
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px;
    background: var(--bg-card);
    border: var(--border);
    color: white;
    border-radius: 10px;


}

/* en */