/* Reseting all of the default attr */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;

    background: #ddd;
}
